@page "/customers"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager

<PageTitle>Customers</PageTitle>

<h3>Customers</h3>

<QuickGrid Items="CustomerService.Customers.AsQueryable()">
	<PropertyColumn Property="c => c.Id"/>
	<PropertyColumn Property="c => c.FirstName" Sortable="true"/>
	<PropertyColumn Property="c => c.LastName" Sortable="true"/>
	<PropertyColumn Property="c => c.Tel" />
	<PropertyColumn Property="c => c.Address" />
	<PropertyColumn Property="c => c.Category.Name" />
	<TemplateColumn>
		<div>
			<button class="btn btn-primary" @onclick="(() => ShowCustomer(context))"><i class="oi oi-pencil"></i></button>
		</div>
	</TemplateColumn>
</QuickGrid>
<br />
<button class="btn btn-primary" @onclick="CreateNewCustomer">Create new customer</button>

@code {
	protected override async Task OnInitializedAsync()
	{
		await CustomerService.GetCustomers();
	}

	void ShowCustomer(Customer customer)
	{
		NavigationManager.NavigateTo($"customer/{customer.Id}");
	}

	void CreateNewCustomer()
	{
		NavigationManager.NavigateTo("/customer");
	}
}
